header{
    height: 300px;
    color: rgb(255, 255, 255);
    background-image: url("images/boy-writing\ code.jpg");
    background-size: 400px;
    font-size: 40px;

}

*{
    margin: 0;
}

.first{
    color: blue;
    font-size: 28px;
    margin:30px;
    margin-left: 70px;
    border: 3px solid blue ;
    border-radius: 8px;
    text-decoration: underline;
    
}

.second{
    color: green;
    font-size: 28px;
    margin:30px;
    margin-left: 70px;
    border: 3px solid green;
    border-radius: 8px;
    /* display:none; */
    /* visibility: hidden; */
    box-shadow: 3px 3px 5px violet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.third{
    color: red;
    font-size: 28px;
    margin:30px;
    margin-left: 70px;
    border: 3px solid red;
    border-radius: 8px;
}

.fourth{
    background-color: maroon;
    color: white;
    margin: 10px;
    padding: 5px;
    border: 8px solid magenta;
    border-radius: 10px;
    /* display: none; */
    
}

img{
    width: 400px;
    margin: 20px;
    margin-left: 60px;
}

p{
    font-size: 20px;
    color:navy;
    border: 5px solid magenta;
    text-align: center;
    background-color: rgb(212, 178, 235);
}

li{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 80px;
    background-color: maroon;
    color: white;
}

#haru{
    border: 2px solid violet;
    display: block;
    background-color: gold;
    color: black;
    height: 15px;
    padding: 8px;
    margin-top:5px;
}